<div class="header_wrapper">
  <div class="header_title">
    <a href="#">TODO</a>
  </div>
  <div class="header_right_items">
    <div class="header_name">
      ニックネーム
    </div>
    <%#= link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'logout_btn' %>
  </div>
</div>
