<div class="cp_tab">
	<input type="radio" name="cp_tab" id="tab1_1" aria-controls="first_tab01" checked>
	<label for="tab1_1">WORK OUT</label>
	<input type="radio" name="cp_tab" id="tab1_2" aria-controls="second_tab01">
	<label for="tab1_2">MEAL</label>

	<div class="cp_tabpanels">
		<div id="first_tab01" class="cp_tabpanel">
		  <h2>WORK OUT TASKS</h2>
		  <%= link_to "Create New Task", new_task_path, class: 'create_task_btn' %>
		</div>
		<div id="second_tab01" class="cp_tabpanel">
		  <h2>Meal Records</h2>
		  <p>Second Tab text</p>
		</div>
	</div>
</div>