.wrapper {
	background-color: #ffffff;
}

.main_header .header_wrapper {
  background-color: #ee3e52;
  width: 100vw;
  height: 4.5em;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 2em;
}

.header_right_items {
	display: flex;
	align-items: center;
}

.header_title a {
  font-size: 2em;
  padding: 20px;
  color: white;
  text-decoration: none;
}

.header_name {
  font-size: 1em;
  padding-right: 20px;
  color: white;
	text-decoration: none;
}

.logout_btn {
	font-size: 1em;
  color: white;
	text-decoration: none;
	padding : 0.5em 0.5em ;
	border: solid 1px;
	margin-right: 20px;
}

.select_tab {
  background-color: white;
  width: 100vw;
  height: calc(100vh - 3.7em);
}

/* ここからタブ切り替えCSS */
.cp_tab *, .cp_tab *:before, .cp_tab *:after {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}
.cp_tab {
	margin: 1em auto;
  text-align: center;
}
.cp_tab > input[type='radio'] {
	margin: 0;
	padding: 0;
	border: none;
	border-radius: 0;
	outline: none;
	background: none;
	-webkit-appearance: none;
	        appearance: none;
	display: none;
}
.cp_tab .cp_tabpanel {
	display: none;
}
.cp_tab > input:first-child:checked ~ .cp_tabpanels > .cp_tabpanel:first-child,
.cp_tab > input:nth-child(3):checked ~ .cp_tabpanels > .cp_tabpanel:nth-child(2),
.cp_tab > input:nth-child(5):checked ~ .cp_tabpanels > .cp_tabpanel:nth-child(3),
.cp_tab > input:nth-child(7):checked ~ .cp_tabpanels > .cp_tabpanel:nth-child(4),
.cp_tab > input:nth-child(9):checked ~ .cp_tabpanels > .cp_tabpanel:nth-child(5),
.cp_tab > input:nth-child(11):checked ~ .cp_tabpanels > .cp_tabpanel:nth-child(6) {
	display: block;
}
.cp_tab > label {
	position: relative;
	display: inline-block;
	padding: 15px;
	cursor: pointer;
	border: 1px solid transparent;
	border-bottom: 0;
}
.cp_tab > label:hover,
.cp_tab > input:focus + label {
	color: #ee3e52;
}
.cp_tab > input:checked + label {
	margin-bottom: -1px;
	border-color: #cccccc;
	border-bottom: 1px solid #ffffff;/*背景色と同じ*/
	border-radius: 6px 6px 0 0;
}
.cp_tab .cp_tabpanel {
	padding: 0.5em 1em;
	border-top: 1px solid #cccccc;
}
@media (max-width: 480px) {
	.cp_tab {
		width: 100%;
		font-size: 0.8em;
	}
	.cp_tab label {
		padding: 0.5em;
	}
}
.cp_tab, .cp_tabpanels, h2 {
  font-weight: bold;
}
.cp_tabpanel h2 {
  padding-top: 1em;
  font-size: 2em;
}
/* ここまでタブ切り替えCSS */

/* 新規作成画面 */
.create-task-form h2 {
	margin-bottom: 10px;
	font-size: 2em;
  font-weight: bold;
  text-align: center;
}

.create-task-form {
  width: 980px;
  margin: 60px auto;
  padding: 40px;
  background-color: #fff;
  border: 2px solid #ee3e52;
  border-radius: 5px;
  box-sizing: border-box;
}

.create-task-form__errors {
  margin: 30px 0;
  padding: 20px 40px;
  border: 1px solid #ddd;
  border-radius: 2px;
  text-align: center;
}
.create-task-form__label {
  display: block;
  line-height: 50px;
  font-weight: bold;
  text-align: right;
}
.create-task-form__input {
  float: left;
  width: 100%;
  line-height: 30px;
  padding: 10px 15px;
  box-sizing: border-box;
}
.create-task-form__action-btn {
  display: inline-block;
  padding: 12px 20px;
  color: #fff;
  background-color: #ee3e52;
  border: 0;
}
.create-task-form__field {
  margin-top: 30px;
}
.create-task-form__field:after {
  content: "";
  clear: both;
  display: block;
}
.create-task-form__field--left {
  float: left;
  width: 30%;
  padding-right: 20px;
  padding-left: 20px;
  box-sizing: border-box;
}
.create-task-form__field--right {
  float: right;
  width: 70%;
}
